<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/loginStyle.css') }}">
</head>

<body>

    <h1>Reset your Steam Monitor Password</h1>
    <div class="resetPassword">

        <div class="errors">
            {% if errors != false %}
            <p> {{ errors }}</p>
            {% endif %}
        </div>

        <form action="/forgotPass/" method="post">
        <br>
        <div class="label">
            <label for="inputEmail">Email address</label>
        </div>

        <input type="email" id="inputEmail" name="name" required autofocus>
        <br><br>
        <button class="button" name="button">Send Link</button>
        </form>
    </div>

</body>
</html>