<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/loginStyle.css') }}">
</head>

<body>

    <h1>Welcome to Steam Monitor</h1>
    <div class="login">

        <div class="errors">
            {% if errors != false %}
            <p> {{ errors }}</p>
            {% endif %}
        </div>

        <form action="/" method="post">
        <br>
        <div class="label">
            <label for="inputEmail">Email address</label>
        </div>

        <input type="email" id="inputEmail" name="name" required autofocus>
        <br>
        <br>
        <div class="label">
            <label for="inputPassword">Password</label>
        </div>

        <input type="password" id="inputPassword" name="pass" required autofocus>
        <br><br>
        <button class="button" name="button">Log In</button>
        <br><br>
        <div class="createAccount">
            Don't have an account? Create one <a href="{{ url_for('signup') }}">here!</a>
        </div>
        <br>
        <br>
        <a href="{{ url_for('forgotPassword') }}">Forgot password?</a>
        </form>
    </div>

</body>
</html>