{% extends "header.html" %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Reports{% endblock %}</title>
</head>
{% block content %}
<body>
    {% if accountLinked %}
        {% for account in reportData %}
            <h2>Account: {{ account.get_steam_name() }}</h2>
            <table>
                <tr>
                    <th>

                    </th>
                    <th>
                        Game
                    </th>
                    <th>
                        Total Time Played (Minutes)
                    </th>
                </tr>
                {% set names_array, appids_array, hash_array, playtimes_array = account.get_game_names(), account.get_game_appids(), account.get_game_icons(), account.get_playtimes() %}
                {% for i in names_array %}
                <tr>
                    <td>
                        <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ appids_array[loop.index] }}/{{ hash_array[loop.index] }}.jpg"
                             alt="">
                    </td>
                    <td>
                        {{ names_array[loop.index] }}
                    </td>
                    <td>
                        {{ playtimes_array[loop.index] }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% else %}
        <p>No Steam accounts are linked to this account. Check your privacy settings.</p>
        <p>Either that or Adan just messed up somewhere...</p>
    {% endif %}
</body>
{% endblock %}