{% extends "header.html" %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Settings Notifications{% endblock %}</title>
</head>
{% block content %}
<body>
    <h1>This is a placeholder for the notifications settings.</h1>
    <header></header>
    <nav>
        <li><a href="{{ url_for('settingSteamAccount') }}">Steam Account</a></li>
        <li><a href="{{ url_for('settingPlaytimeTracking') }}">Playtime Tracking</a></li>
        <li><a href="{{ url_for('settingNotifications') }}">Notifications</a></li>
        <li><a href="{{ url_for('settingWatchList') }}">Watch List</a></li>
    </nav>
    <main>
        <table>
            <thead>Notifications</thead>
            <tbody>
                <tr>
                    <td>Email account: {{email}}</td>
                    <td>
                        <form>
                            <fieldset>
                                <label for="Time"> How often do you want to receive an email notification:</label>
                                <input type="text" name="height" id="Height" placeholder="Enter time in days"><br>     
                            </fieldset>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer></footer>
</body>
{% endblock %}