{% extends "header.html" %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Settings Notifications{% endblock %}</title>
</head>
{% block content %}
<body>
    <header></header>
{#    <nav>#}
{#        <li><a href="{{ url_for('settingSteamAccount') }}">Steam Account</a></li>#}
{#        <li><a href="{{ url_for('settingPlaytimeTracking') }}">Playtime Tracking</a></li>#}
{#        <li><a href="{{ url_for('settingNotifications') }}">Notifications</a></li>#}
{#        <li><a href="{{ url_for('settingWatchList') }}">Watch List</a></li>#}
{#    </nav>#}
    <main>
        <table>
            <thead>Notifications</thead>
            <tbody>
                <tr>
                    <td>Email account: {{email}}</td>
                    <td>
                        <form method="post">
                            <fieldset>
                                <label for="Time"> How often do you want to receive an email notification:</label>
                                <select name="often">
                                    <option value="0" id="Often">Select how often</option>
                                     <option value="1" id="Often">Every day</option>
                                    <option value="2" id="Often">Once a week</option>
                                    <option value="3" id="Often">Once every two weeks</option>
                                    <option value="4" id="Often">Once a month</option>
                                </select>
                                <input type="submit" value="Submit changes" class="button">
                                <p>Notifications are currently sent: {{often}}</p>
                            </fieldset>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer></footer>
</body>
{% endblock %}