{% extends "header.html" %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Settings Watch List{% endblock %}</title>
</head>
{% block content %}
<body>
    <header></header>
    <nav>
        <li><a href="{{ url_for('settingSteamAccount') }}">Steam Account</a></li>
        <li><a href="{{ url_for('settingPlaytimeTracking') }}">Playtime Tracking</a></li>
        <li><a href="{{ url_for('settingNotifications') }}">Notifications</a></li>
        <li><a href="{{ url_for('settingWatchList') }}">Watch List</a></li>
    </nav>
    <main>
        <table>
            <thead>Currently Watched Games per Accounts</thead>
            <tbody>
                {% for result in steam %}
                <tr>
                    <td>
                        <form>
                            <fieldset>
                                <legend>Steam Account: {{result}}</legend>
                                <table>
                                    <tr>
                                        <th>Games being Watched:</th>
                                        <th>Price:</th>
                                    </tr>
                                    {% for item in nested[loop.index-1] %}
                                    <tr>
                                        <td>{{item[0]}}</td>
                                        <td>{{item[1]}}</td>
                                        <td>
                                            <button type="button">Remove</button>
                                        </td>
                                        <td>
                                            <input type="text" name="newPrice" placeholder="Enter new price in form 00.00">
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <form>
                                            <fieldset>
                                                <legend>Select which games you would like to watch:</legend>
                                                <label for="Game">Games:</label>
                                                <input type="text" name="game" placeholder="Enter name of game"><br>
                                                <button type="button" class="collapsible">Search</button>
                                                <div class="result">Any games that are found are displayed here
                                                    <input type="text" name="price" placeholder="Enter price in the form 00.00"><br>
                                                    <button type="button">Add</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </tr>
                                </table>
                            </fieldset>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer></footer>
</body>
{% endblock %}