{% extends "header.html" %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Settings Watch List{% endblock %}</title>
</head>
{% block content %}
<body>
    <header></header>
{#    <nav>#}
{#        <li><a href="{{ url_for('settingSteamAccount') }}">Steam Account</a></li>#}
{#        <li><a href="{{ url_for('settingPlaytimeTracking') }}">Playtime Tracking</a></li>#}
{#        <li><a href="{{ url_for('settingNotifications') }}">Notifications</a></li>#}
{#        <li><a href="{{ url_for('settingWatchList') }}">Watch List</a></li>#}
{#    </nav>#}
    <main>
        <table>
            <thead>Currently Watched Games</thead>
            <tbody>
                <tr>
                    <td>
                        <form method="post">
                            <fieldset>
                                <table>
                                    <tr>
                                        <th>Games being Watched:</th>
                                        <th>Price:</th>
                                    </tr>
                                    {% for item in nested[0] %}
                                    <tr>
                                        <td name="old_game{{item}}{{item[0]}}">{{item[0]}}</td>
                                        <td>{{item[1]}}</td>
                                        <td>
                                            <input type="checkbox" name="confirmRemove{{item}}{{item[0]}}" id="ConfirmRemove">Remove
                                        </td>
                                        <td>
                                            <input type="number" name="newPrice{{item}}{{item[0]}}" placeholder="Enter new price in dollars">
                                        </td>
                                        <td>
                                            <input type="submit" name="submit" id="Submit" value="Submit changes" class="button">
                                        </td>
                                    </tr>
                                    <tr>
                                        <p>{{update}}</p>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <form>
                                            <fieldset>
                                                <legend>Select which games you would like to watch:</legend>
                                                <label for="Game">Games:</label>
                                                <a href="https://store.steampowered.com/" target="_blank">Steam Store</a>
                                                <p>Paste the link to the game's steam store page here:</p>
                                                <p>{{add}}</p>
                                                <input type="text" name="game" placeholder="Enter url Link"><br>
                                                <p>Enter what price you want to watch for this game </p>
                                                <input type="number" name="price" placeholder=00.00><br>
                                                <button type="submit" name="submit" id="Submit" value="Add" class="button">Add</button>
                                            </fieldset>
                                        </form>
                                    </tr>
                                </table>
                            </fieldset>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer></footer>
</body>
{% endblock %}