{% extends "header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Settings Playtime Tracking{% endblock %}</title>
</head>
{% block content %}
<body>
    <header></header>
{#    <nav>#}
{#        <li><a href="{{ url_for('settingSteamAccount') }}">Steam Account</a></li>#}
{#        <li><a href="{{ url_for('settingPlaytimeTracking') }}">Playtime Tracking</a></li>#}
{#        <li><a href="{{ url_for('settingNotifications') }}">Notifications</a></li>#}
{#        <li><a href="{{ url_for('settingWatchList') }}">Watch List</a></li>#}
{#    </nav>#}
    <main>
        <table>
            <thead>Currently Tracked Games per Accounts</thead>
            <tbody>
                {% for result in steam %}
                <tr>
                    <td>
                        <form>
                            <fieldset>
                                <legend>Steam Account: {{result}}</legend>
                                <table>
                                    <tr>
                                        <th>Games being Tracked:</th>
                                    </tr>
                                    {% for item in nested[loop.index-1] %}
                                    <tr>
                                        <td>{{item}}</td>
                                        <td>
                                            <button type="button" class="collapsible">Remove</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <form>
                                            <fieldset>
                                                <legend>Select which games you would like to track playtime for:</legend>
                                                <label for="Game">Games:</label>
                                                <select name="game">
                                                    <option value="select" id="Game">Select a game</option>
                                                    <option value="GTA" id="Game">GTA V</option>
                                                    <option value="Halo" id="Game">Halo</option>
                                                    <option value="Pong" id="Game">Pong</option>
                                                </select><br>
                                                <button type="button">Add</button>
                                            </fieldset>
                                        </form>
                                    </tr>
                                </table>
                            </fieldset>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer></footer>
</body>
</html>
{% endblock %}