<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/loginStyle.css') }}">
</head>

<body>

    <h1>Create a Steam Monitor Account</h2>
    <div class="signup">

        <div class="errors">
            {% if errors != false %}
            <p> {{ errors }}</p>
            {% endif %}
        </div>

        <form action="/signup/" method="post">
        <br>
        <div class="label">
            <label for="inputEmail">Email address</label>
        </div>

        <input type="email" id="inputEmail" name="name" required autofocus>
        <br>
        <br>
        <div class="label">
            <label for="inputPassword">Password</label>
        </div>

        <input type="password" id="inputPassword" name="pass" required autofocus>
        <br><br>
        <button class="button" name="button">Create account</button>
        <br><br>
        </form>
    </div>

</body>
</html>